@page
@model Sarpinos.Pages.Admin.CreateRoleModel
@{
    ViewData["Title"] = "Create Role";
}

@using Microsoft.AspNetCore.Identity
@inject RoleManager<IdentityRole> Role

<div class="container">
    <form asp-page="CreateRole" method="POST">
        <div class="form-group">
            <label asp-for="@Model.Roles.Name">Role name:</label>
            <input type="text" asp-for="@Model.Roles.Name" name="Name" class="form-control" placeholder="Enter role name" />
            <span asp-validation-for="@Model.Roles.Name" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-success">Create</button>
    </form>

</div>
