@page 

@model Sarpinos.Pages.MenuModel

@{
    ViewData["Title"] = "Menu";
}

@section Styles{
    <link href ="/css/menuitems.css" rel="stylesheet" />
}

<div class="row">
    @foreach (var item in Model.MenuItems)
    {
        <div class="col-md-6">
            <div class="card mb-3 border-0 menuItem">
                <div class="row no-gutters">
                    <div class="col-md-4 itemImg">
                        <img src="@item.ImageUrl">
                        <span class="tagger"><i class="fas fa-tag fa-4x shadowbe"></i></span>
                        <p class="card-text the-price">$@item.Price</p>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">@item.Name</h5>
                            <p class="card-text">@item.Description</p>

                            <div class="row m-2">
                                <p class="price">Add to cart <i class="fas fa-cart-plus the-cart"></i></p>
                                <a asp-page="Details" asp-route-slug="@item.Slug" class="customize">See more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     }
</div>